{% extends 'base/base.html' %}

{% block title %}¡Inmersión Total en el Mundo NFL!{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">¡Sumérgete en la Experiencia Total de la NFL!</h1>
            <p class="lead">Tu portal confiable para explorar detalles fascinantes de estadios, equipos y ciudades de la NFL.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <p>¿Preparado para embarcarte en la gestión de información de la NFL?</p>
            <a href="{% url 'nfl:list_ciudades' %}" class="btn btn-primary btn-lg">Descubre las Maravillas de las Ciudades</a>
        </div>
    </div>
</div>
{% endblock content %}
