{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NFL App{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-eGImX6CEY4pMz9Rp7Uf2L84LBjV5b2Msv71/L5e3I/rdZhqTkt4h76TEVRNhXTvc" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa; 
        }

        .navbar {
            background-color: #007bff !important; 
        }

        .navbar-brand {
            font-size: 1.5em; 
        }

        .navbar-nav .nav-link {
            color: #ffffff !important; 
        }

        .navbar-nav .nav-link:hover {
            color: #ffffff; 
        }

        .btn-outline-light {
            color: #ffffff;
            border-color: #ffffff; 
        }

        .btn-outline-light:hover {
            color: #007bff;
            background-color: #ffffff; 
        }

        .text-dark {
            color: #212529 !important;
        }

        .text-light {
            color: #ffffff !important; 
        }

        footer {
            background-color: #343a40;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- NAV BAR -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">NFL</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home:index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'nfl:list_ciudades' %}">Ciudad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'nfl:list_equipo' %}">Equipos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'nfl:list_estadio' %}">Estadios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'nfl:list_duenio' %}">Duenios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'nfl:list_jugador' %}">Jugadores</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="row mt-4">
            <div class="col-12">
                {% block content %}
                {% endblock content %}
            </div>
        </div>

        <footer class="text-center text-light mt-5">
            <div class="container pt-4">
                <section class="mb-4">
                    <a class="btn btn-link btn-floating btn-lg text-light m-1" href="#!" role="button" data-mdb-ripple-color="dark">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-link btn-floating btn-lg text-light m-1" href="#!" role="button" data-mdb-ripple-color="dark">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-link btn-floating btn-lg text-light m-1" href="#!" role="button" data-mdb-ripple-color="dark">
                        <i class="fab fa-google"></i>
                    </a>
                    <a class="btn btn-link btn-floating btn-lg text-light m-1" href="#!" role="button" data-mdb-ripple-color="dark">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="btn btn-link btn-floating btn-lg text-light m-1" href="#!" role="button" data-mdb-ripple-color="dark">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a class="btn btn-link btn-floating btn-lg text-light m-1" href="#!" role="button" data-mdb-ripple-color="dark">
                        <i class="fab fa-github"></i>
                    </a>
                </section>
            </div>

            <div class="text-center p-3" style="background-color: #343a40;">
                © 2023 Copyright:
                <a class="text-light" href="#">Avalos Garcia Juan Antonio</a>
            </div>
        </footer>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
